#aboutPageContainer, #researchPlatformPageContainer, #contactPageContainer {
    font-family: Arial, Helvetica, serif;
}

#testResultsDataContainer, #usersDataContainer, #navbarContainer {
    font-family: Arial, serif;
}

/*@media screen and (max-width: 2000px) {*/
/*    display: flex;*/
/*}*/

/*@media (max-width: 1200px) {*/
/*    .navbar-expand-lg .navbar-toggler {*/
/*        display: block !important;*/
/*        flex-basis: auto !important;*/
/*    }*/
/*}*/
a.btn-link {
    color: #0d6efd;;
}

.btn-danger:hover {
    background-color: #a52834 !important;
}

.btn {
    border-radius: 5px !important;
}

ul li {
    padding: 0;
    /*padding-top: ;*/
}